Source: service-provider-process-data-inspection
Priority: optional
Maintainer: Robert Burger <robert.burger@dlr.de>
Build-Depends: debhelper-compat (= 13), autotools-dev
Standards-Version: 4.5.1
Section: libs
Homepage: https://www.burger-system.de/osal/osal
Vcs-Browser: https://github.com/robotkernel-hal/service_provider_process_data_inspection.git
Vcs-Git: https://github.com/robotkernel-hal/service_provider_process_data_inspection.git
Rules-Requires-Root: no

Package: service-provider-process-data-inspection-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: robotkernel-dev, ${misc:Depends}
Description: Robotkernel service provider to export process data access services.
  This service provider gains unified access to process data devices of robotkernel
  modules. It supports introspection only.

Package: service-provider-process-data-inspection
Architecture: any
Multi-Arch: same
Depends: robotkernel ${misc:Depends}
Description: Robotkernel service provider to export process data access services.
  This service provider gains unified access to process data devices of robotkernel
  modules. It supports introspection only.
